{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.tsx",
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*.stories.tsx",
    "src/**/*.stories.ts",
    "src/stories/**/*"
  ]
}
